* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    padding: 2em;
}

.gamecontainer {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.player1container, .player2container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    text-align: center;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.boardcontainer {
    background-color:rgb(219, 147, 123);
    width: 300px;
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em 1em;
    border: 1px solid black;
    text-align: center;
    text-justify: center;
    align-items: center;

}

.boardcontainer > p {
    border: 2px solid blue;
    min-height: 50px;
    min-width: 50px;
    height: 60px;
    width: 60px;
}

button {
    margin: 1em;
}

.hidden {
    display: none;
}